/*===============================================*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.item-content{
    margin-left: 40px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700 !important;
    font-size: smaller;
    cursor: pointer;
    border: 1px solid transparent;
}

.navbar-nav{
text-align: end;
}

.logo{
    cursor: pointer;
}

.item-content{
    display: inline-flex;
}

h3{
    font-family: 'Inter Tight', sans-serif !important;
}

.extra{
    font-weight: 600 !important;
}

.little{
    font-weight: 400;
    font-size: 22px !important;
}

.item-content:hover{
    border-bottom: 1px solid white;
}

#coachBryl{
    right: 0;
    bottom: 0;
    position: absolute;
    display: none;
    max-width: 30vw;
}
#coachBryl:hover{
    transform: scale(0.96);
}

.navbar{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;  
}

/* =============================FOR APP CSS================================== */
.appHeader{
    z-index: -1;
}

#loadScreen {
    position: fixed;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
  }

.appContainer{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.overlay {
    z-index: -2;
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(to right, rgba(136, 136, 136, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(136, 136, 136, 0.2) 1px, transparent 1px);
  background-size: 4rem 4rem;
  mask-image: radial-gradient(ellipse at center, transparent 20%, black 70%);
  -webkit-mask-image: radial-gradient(ellipse at center, transparent 20%, black 70%);
}


.gameContainer{
    width: 75vw;
    height: 60vh;
    transition: background 5s ease;
     border-radius: 35px;
background: #E4E4E4;
box-shadow:  -5px 5px 10px #bdbdbd,
             5px -5px 10px #ffffff;
}

.heroContainer{
    display: none;
}

.myAudio{
    display: none;
}


.gameContainerPlay .gameContainerInfo{
height: 60vh;
}
.gameContainerPlay{
    border-right: solid 1px gray;
}

.gameContainerDivision{
    width: 75vw;
    height: 60vh;
}

.Game{
    height: 50vh;
     border-radius: 35px;
background: #E4E4E4;
box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.gameCubes {
  width: 5vw;
  height: 9vh;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}



.gameCubes.flipped{
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

p{
    margin: 0;
}

.dModes{
    height: 15vh;
    text-align: center;
    font-size: 2rem;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700 !important;
    color:#090909;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
